
body{
  background-color: rgb(19, 180, 180);
}

.mynav{
  width: 100%;
  background-color: rgb(41, 39, 39);
  align-items: center;
  display: flex;
  padding: 10px;
}

.myh2{
  color: aqua;
  word-spacing: 15px;
  letter-spacing: 15px;
  margin-left: 150px;
}

.myul {
  display: flex;
  list-style: none;
  margin-left: 600px;
}

.myul li{
  display: flex;
  margin-left: 30px;
  border: 2px;
  background-color:aqua;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-weight: 700;
}

.myul2 {
  display: flex;
  list-style: none;
  margin-left: 200px;
}

.myul2 li{
  display: flex;
  margin-left: 50px;
  font-weight: 700;
  font-size: larger;
  color: azure;

}
.myul2 :any-link{
  color: azure;
}
.myul2 li:hover{
  color: forestgreen;
}

.logout{
  color: forestgreen;
}

.logout:hover{
  cursor: pointer;
  color: red;
}
